<!DOCTYPE html>
<html>
<head>
  <title>AfgTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
<div>
  <% if session[:current_user_id] %>
  <h1>You have logged in.</h1>

      <p><%= link_to "#{User.find(session[:current_user_id]).username}", user_path(session[:current_user_id]) %> ||
      <%= link_to "Logout", sessions_path, method: :delete %></p>
  <% else %>

  <p>Login Here</p>
  <%= form_tag(sessions_path) do%>
  <%= label_tag :username %>
  <%= text_field_tag :username %>
  <br>
  <%= label_tag :password %>
  <%= password_field_tag :password %>
  <br>
  <%= submit_tag "Login" %>
  <% end %>
<% end %>
 </div>
 </div>

<%= yield %>

</body>
</html>
